/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/* FONTS */
$light: 400;
$medium: 500;
$bold: 600;

/* COLORS */
//App colors
$blue: #3f9fc9;
$green: #4cdec4;
$orange: #fdc468;
$blue-dark: #373760;
$sponsors-bg: $blue;

//Text
$text-color: $blue-dark;

/* SIZES */
$header-height: 5rem;
$footer-height: $header-height;

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

//WRAPPERS: Center and max-width body.
@mixin wrapper($width: 100%, $max-width: 100%) {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;
}

/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/

/* Z-INDEX CONTROL */

$elements: menu, headerfooter, modal, loading;

@function z($element) {
  @return index($elements, $element);
}


/* REM, EM */
$base-fontsize: 16;

// PIXEL TO REM: height: rem(50) -> 3.125rem;
@function rem($px, $context: $base-fontsize) {
  @return ($px / $context) * 1rem;
}
//Idem with EMs for media queries
@function em($px, $context: $base-fontsize) {
  @return ($px / $context) * 1em;
}
